<h1 class="text-3xl font-bold underline">{{ section.settings.title }}</h1>
<h2>{{ section.settings.subtitle }}</h2>

{% schema %}
{
  "name": "555 test",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "tittle 555"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "subtittle 555"
    }
  ]
}
{% endschema %}