<div class="flex-col">
  <h3> {{ section.settings.pretitle }}</h3>
  <h1> {{ section.settings.title }}</h1>
</div>


{% schema %}
  {
    "name": "555 test",
    "settings": [
      {
        "type": "text",
        "id": "pretitle",
        "label": "pretitle"
      },
      {
        "type": "text",
        "id": "title",
        "label": "title"
      }
    ]
  }
{% endschema %}