<section class="bg-red-900">
  <h1>{{section.settings.pretitle}}</h1>
  <h1>{{section.settings.pretitle}}</h1>
  <h1>{{section.settings.pretitle}}</h1>
  <p> testtest</p>
</section>


{% schema %}
{
  "name": "About US",
  "settings": [
    {
      "type": "text",
      "label": "input pretitle",
      "id": "pretitle"
    }
  ],
  "presets": [
  {
    "name": "page About US"
  }
]
}
{% endschema %}
