.body-page {
  background: #14141a;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.text-size_20 {
  font-size: 20px;
}

.text-white {
  color: #fff;
}

.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.main-section__image-container {
  width: 100%;
}

.main-baner {
  width: 100%;
  height: 700px;
  object-fit: contain;
}

.main-setion__text-container {
  position: absolute;
  top: calc(100vh - 28%);
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  color: #fff;
  width: 50%;
}

.main-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
}

.main-section__pretitle {
  font-size: 16px;
  margin-bottom: 10px;
}

.two-section,
.three-section {
  padding: 0 50px;
  overflow: hidden;
}

.two-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

.two-section__text-container {
  margin: 0;
  grid-column: 1 / 6;
  grid-row: 1;
  margin-top: 120px;
}

.two-text__one-p {
  grid-column: 1 / 6;
}

.two-section__title-container {
  margin: 0;
  grid-column: 1 / 6;
  grid-row: 2;
  z-index: 2;
}

.two-section__title {
  font-size: 48px;
  margin: 0;
}

.two-section__title span {
  color: #2fa3f9;
}

.two-text__one-p {
  margin: 0;
  grid-column: 1 / 6;
  grid-row: 3 / 5;
  z-index: 2;
}

.two-text__two-p {
  grid-column: 1 / 6;
  grid-row: 5 / 6;
  z-index: 2;
}

.two-text__three-p {
  grid-column: 1 / 8;
  grid-row: 6;
  z-index: 2;
}

.two-section__image-container {
  grid-column: 4 / 13;
  grid-row: 1 / 6;
  margin-top: 76px;
}

.two-section__pretitle {
  margin-top: 120px;
  font-size: 28px;
}

.text-gray {
  color: #666C7B;
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}
