.main {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  font-size: 16px;
  background: #14141a;
}

.m-0 {
  margin: 0;
}

.pl-134 {
  padding-left: 134px;
}

.text-size_2 {
  font-size: 2rem;
}

.text-size_3_5 {
  font-size: 3.5rem;
  line-height: 1.2;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #666c7b;
}

.big-banner {
  display: flex;
  margin-bottom: 6rem;
}

.big-banner__image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.big-banner__text-container {
  display: flex;
  flex-direction: column;
  width: 55%;
  position: absolute;
  top: calc(100vh - 17.5rem);
}

.big-banner__title {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
}

.big-banner__pretitle {
  margin-bottom: 0.6rem;
  line-height: 10px;
}

.right-banner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  margin-bottom: 18rem;
}

.right-banner__title-container {
  margin: 0;
  grid-column: 1 / 7;
  grid-row: 3;
  z-index: 2;
}

.right-banner__title {
  font-size: 4.4rem;
  margin: 0;
}

.left-banner {
  margin-bottom: 18rem;
}

.right-banner__title span,
.left-banner__title span,
.footer-banner__text-container span{
  color: #2fa3f9;
}

.right-banner__one-p {
  grid-column: 1 / 6;
  grid-row: 4;
  z-index: 2;
}

.right-banner__two-p {
  grid-column: 1 / 9;
  grid-row: 5;
  z-index: 2;
}

.right-banner__three-p {
  grid-column: 1 / 9;
  grid-row: 6;
  z-index: 2;
}

.right-banner__image-container {
  grid-column: 4 / 13;
  grid-row: 1 / 7;
  width: 100%;
}

.right-banner__pretitle {
  font-size: 28px;
}

.left-banner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.left-banner__image-container {
  grid-column: 1 / 6;
  grid-row: 1 / 6;
  display: flex;
  gap: 30px;
}

.left-banner__text-container {
  grid-column: 7 / 12;
  grid-row: 2;
  margin-top: 120px;
}

.left-banner__title {
  width: 450px;
  font-size: 48px;
  margin: 0;
}

.footer-banner {
  position: relative;
  padding: 0;
}

.footer-banner__text-container {
  top: 5rem;
  left: 134px;
  width: 52%;
  position: absolute;
  z-index: 2;
  font-size: 4.5rem;
  line-height: 1.2;
}

.footer-banner__image-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
