.main-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.image-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-baner {
  width: 100%;
  height: 700px;
  object-fit: contain;
}

.main-baner-text-container {
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.title-h1 {
  font-size: 48px;
  font-weight: bold;
  width: 1077px;
  margin-bottom: 23px;
}

.span-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.two-section, .three-section {
  padding: 0 50px;
  overflow: hidden;
}

.two-image {
  float: right;
  margin: 20px;
  margin-top: 250px; /* Зміщення зображення вниз */
}

.two-text-p, .three-text-p {
  margin-bottom: 15px;
}

.two-h2-span, .three-h2-span {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2FA3F9;
}

.two-title-h2, .three-title-h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.two-title-h2 span, .three-title-h2 span {
  color: #2C98E7;
}

.two-text--width, .three-text--width {
  width: 100%; /* Ширина текстового контейнера */
  z-index: 2;
}

.three-text-container {
  display: flex;
  flex-direction: column;
}

.three-image {
  float: left;
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
  .main-baner-text-container {
    top: 500px;
    padding: 0 20px;
  }

  .title-h1 {
    font-size: 36px;
    width: auto;
    margin-bottom: 20px;
  }

  .span-title {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .two-section, .three-section {
    padding: 0 20px;
  }

  .two-image, .three-image {
    float: none; /* Скасувати флоат для менших екранів */
    width: 100%;
    margin: 20px 0;
    margin-top: 20px;
  }

  .two-text--width, .three-text--width {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .main-baner-text-container {
    top: 400px;
    padding: 0 10px;
  }

  .title-h1 {
    font-size: 24px;
    width: auto;
    margin-bottom: 15px;
  }

  .span-title {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .two-section, .three-section {
    padding: 0 10px;
  }

  .two-image, .three-image {
    float: none; /* Скасувати флоат для менших екранів */
    width: 100%;
    margin: 20px 0;
    margin-top: 20px;
  }

  .two-text--width, .three-text--width {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .main-baner-text-container {
    top: 300px;
    padding: 0 5px;
  }

  .title-h1 {
    font-size: 18px;
    width: auto;
    margin-bottom: 10px;
  }

  .span-title {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .two-section, .three-section {
    padding: 0 5px;
  }

  .two-image, .three-image {
    float: none; /* Скасувати флоат для менших екранів */
    width: 100%;
    margin: 20px 0; /* Відступ знизу для зображення на малих екранах */
    margin-top: 20px;
  }

  .two-text--width, .three-text--width {
    max-width: 100%;
  }
}
