  .image-with-text-custom .image-container {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .image-with-text-custom .text-container {
    overflow: hidden;
  }
  .image-with-text-custom .text-block {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .image-with-text-custom {
      display: block;
    }
    .image-with-text-custom .image-container {
      float: none;
      margin: 0 auto 20px auto;
      text-align: center;
    }
    .image-with-text-custom .text-container {
      padding: var(--mobile_text_padding);
      text-align: var(--mobile_text_alignment);
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .image-with-text-custom {
      display: flex;
      flex-direction: column;
    }
    .image-with-text-custom .image-container {
      margin-bottom: 15px;
    }
    .image-with-text-custom .text-container {
      padding: var(--tablet_text_padding);
    }
  }

  @media (min-width: 1024px) {
    .image-with-text-custom {
      display: flex;
      flex-direction: row;
    }
    .image-with-text-custom .text-container {
      padding: var(--desktop_text_padding);
    }
  }
